<% content_for :content do %>
  <!-- Page Content -->
  <!-- Jumbotron Header -->
  <header class="jumbotron">
    <h1><%= t_view :heading %></h1>
    <p><%= t_view :description %></p>
    <div class="row">
      <div class="col-md-4">
        <h2><%= t_view :box_left_title %></h2>
        <p><%= t_view :box_left_text %></p>
        <% if current_user.present? %>
          <p><%= action_button Request, :new, link_target: new_request_path, link_text: t_view(:new_request, :navigation) %></p>
        <% end %>
      </div>
      <div class="col-md-4">
        <h2><%= t_view :box_middle_title %></h2>
        <p><%= t_view :box_middle_text %></p>
        <p>
        </p>
        <% if current_user.present? %>
          <p><%= action_button Offer, :new, link_target: new_offer_path, link_text: t_view(:new_offer, :navigation) %></p>
        <% end %>
     </div>
      <div class="col-md-4">
        <h2><%= t_view :box_right_title %></h2>
        <p><%= t_view(:box_right_text, email: mail_to('feedback@aid-hive.org')).html_safe %></p>
      </div>
    </div>
    <%# Devise::Models::Registerable %>
    <% if current_user.nil? %>
      <%= link_to t_view(:sign_up), new_user_registration_path, class: 'btn btn-primary' %>
      <%= link_to t_view(:sign_in_facebook), user_omniauth_authorize_path(:facebook), class: 'btn btn-primary center' %>
    <% end %>
  </header>
<% end %>
