<%= form.form_group :postal_code do %>
  <label class="control-label" for="postal_code">Postal code and city</label>
  <div class="row">
    <div class="col-md-3">
      <%= form.text_field_without_bootstrap :postal_code, class: 'form-control', maxlength: 5 %>
    </div>
    <div class="col-md-9">
      <%= form.text_field_without_bootstrap :city, class: 'form-control' %>
    </div>
  </div>
<% end %>
<%= form.form_group :street_name do %>
  <label class="control-label" for="street_name">Street name and number</label>
  <div class="row">
    <div class="col-md-9">
      <%= form.text_field_without_bootstrap :street_name, class: 'form-control' %>
    </div>
    <div class="col-md-3">
      <%= form.text_field_without_bootstrap :street_number, class: 'form-control' %>
    </div>
  </div>
<% end %>
