<% column_width_factor = local_assigns.fetch(:column_width_factor, 1) %>
<% small_column_width = 1 * column_width_factor %>
<% large_column_width = 3 * column_width_factor %>
<%= form.form_group :postal_code do %>
  <div class="row">
    <div class="col-md-<%= small_column_width %>">
      <%= form.label :postal_code, t_view(:postal_code), class: 'control-label' %>
      <%= form.text_field_without_bootstrap :postal_code, class: 'form-control', maxlength: 5 %>
    </div>
    <div class="col-md-<%= large_column_width %>">
      <%= form.label :city, t_view(:city), class: 'control-label' %>
      <%= form.text_field_without_bootstrap :city, class: 'form-control' %>
    </div>
  </div>
<% end %>
<%= form.form_group :street_name do %>
  <div class="row">
    <div class="col-md-<%= large_column_width %>">
      <%= form.label :street_name, t_view(:street_name), class: 'control-label' %>
      <%= form.text_field_without_bootstrap :street_name, class: 'form-control' %>
    </div>
    <div class="col-md-<%= small_column_width %>">
      <%= form.label :street_number, t_view(:street_number), class: 'control-label' %>
      <%= form.text_field_without_bootstrap :street_number, class: 'form-control' %>
    </div>
  </div>
<% end %>
