<%= render layout: 'shared/paginated', locals: {collection: entries, param_name: local_assigns.fetch(:page_param_name, :query_page), params: local_assigns.fetch(:params, nil)} do %>
  <table class="table">
    <thead>
      <th><%= Entry.human_attribute_name :created_at %></th>
      <th><%= entries.first.class.human_attribute_name :user %></th>
      <th><%= Entry.human_attribute_name :title %></th>
      <th><%= Entry.human_attribute_name :description %></th>
      <th><%= Entry.human_attribute_name :location %></th>
    </thead>
    <tbody>
      <% entries.each do |entry| %>
        <tr>
          <td><%= l entry.created_at, format: :date %></td>
          <td><%= link_to entry.user.name, entry.user %></td>
          <td><%= link_to entry.title, entry %></td>
          <td><%= entry.description %></td>
          <td><%= entry.address_line %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
