<% content_for :header do %>
  <h1><%= Request.model_name.human %>: <%= @request.title %></h1>
<% end %>

<% content_for :content do %>
  <dl class="dl-horizontal">
    <dt><%= Request.human_attribute_name :description %></dt>
    <dd><%= text_with_line_breaks @request.description %></dd>
    <dt><%= Request.human_attribute_name :location %></dt>
    <dd><%= @request.full_street_address %></dd>
  </dl>
  <%= commontator_thread(@request) %>
<% end %>
