<p><%= t_mail(:hello, name: @resource.name) %>,</p>

<% if @user.confirmed_at.nil? %>
  <p><%= t_mail(:unconfirmed_notice) %></p>
  <p><%= link_to t_mail(:confirmation_link, scope: :confirmation_instructions), confirmation_url(@resource, confirmation_token: @token) %></p>
<% else %>
  <p><%= t_mail(:message) %></p>

  <p><%= link_to t_mail(:reset_link), edit_password_url(@resource, reset_password_token: @token) %></p>

  <p><%= t_mail(:fraud_explanation) %></p>
<% end %>
