<%# add navigation links to this file %>
<% scope = :navigation %>
<%= link_to root_path, class: 'navbar-brand' do %>
  <%= image_tag :home_logo %>
<% end %>
<%= navbar_menu params[:controller] == 'requests', t_view(:requests, scope) do %>
  <%= subnav_link_to false, requests_path, t_view(:all_requests, scope) %>
  <%= subnav_link_to false, new_request_path, t_view(:new_request, scope) if policy(Request).create? %>
  <# subnav_link_to false, my_requests_path, t_view(:my_requests, scope) if current_user.present? %>
<% end %>
<%= navbar_menu params[:controller] == 'offers', t_view(:offers, scope) do %>
  <%= subnav_link_to false, offers_path, t_view(:all_offers, scope) %>
  <%= subnav_link_to false, new_offer_path, t_view(:new_offer, scope) if policy(Offer).create? %>
  <# subnav_link_to false, my_offers_path, t_view(:my_offers, scope) if current_user.present? %>
<% end %>
<%= subnav_link_to params[:controller] == 'conversations', conversations_path do %>
  <%= t_view(:conversations, scope) %>
  <%= "(#{@unread_conversations_count})" if @unread_conversations_count > 0 %>
<% end if user_signed_in? %>
<% unless user_signed_in? %>
  <li><%= link_to t_view(:sign_in), new_user_session_path %></li>
  <li><%= link_to t_view(:sign_up), new_user_registration_path %></li>
<% end %>
<li><%= link_to t_view(:about), page_path('about') %></li>
