<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Aid Hive" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Aid Hive" %>">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= yield :head %>
    <%= csrf_meta_tags %>
  </head>
  <body class="<%= params[:controller].gsub '/', '_' %>">
    <div class="container">
      <header>
        <%= render 'layouts/navigation' %>
      </header>
    </div>
    <div class="container">
      <main role="main">
        <div class="page-header">
          <% if content_for(:subnav) %>
            <div class="subnav pull-right">
              <%= yield :subnav %>
            </div>
          <% end %>
          <%= yield :header %>
        </div>
        <% if Rails.env.demo? %>
          <div class="row">
            <div class="col-md-12"><div class="alert alert-danger text-center"><big><strong>Testsystem - keine echten Angebote/Anfragen || test system -  no real offers/requests</big></strong></div></div>
          </div>
        <% end %>
        <div class="row">
          <div class="col-md-<%= content_for?(:sidebar) ? local_assigns.fetch(:content_width, 9) : 12 %>">
            <%= render 'layouts/messages' %>
            <% if content_for?(:toolbar) %>
              <div class="toolbar">
                <%= yield :toolbar %>
              </div>
            <% end %>
            <div class="content">
              <%= yield :content %>
            </div>
          </div>
          <% if content_for?(:sidebar) %>
            <div class="col-md-<%= 12 - local_assigns.fetch(:content_width, 9) %>">
              <div class="sidebar">
                <%= yield :sidebar %>
              </div>
            </div>
          <% end %>
        </div>
      </main>
      <% if content_for(:additional_content) %>
        <br>
        <div class="well">
          <div class="row">
            <div class="col-md-<%= content_for?(:sidebar) ? local_assigns.fetch(:content_width, 9) : 12 %>">
              <div class="additional_content">
                <%= yield :additional_content %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div id="footer">
      <div class="container">
        <p class="text-center text-muted">
          © 2015-<%= Date.today.year %> Aid Hive |
          Kekse!
        </p>
      </div>
    </div>
  </body>
</html>
